@page "/intake"
@inject HttpClient Http

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
 @foreach (var question in questions)
            {
                <tr>
                    <h2>@question.QQuestion</h2>
                    @foreach (string s in question.Answers)
                        {
                            <Button Size="@_size" Block>@s</Button>
                            <p></p>
                        }
                </tr>
                <p></p>
            }
}

@code {
    private Question[]? questions;

    protected override async Task OnInitializedAsync()
    {
        questions = await Http.GetFromJsonAsync<Question[]>("sample-data/intake.json");
    }

    string _size = ButtonSize.Large;

    public class Question
    {
        public string Number { get; set; }
        public string QType { get; set; }
        public string QQuestion { get; set; }
        public string[]? Answers { get; set; }
        public string Variable { get; set; }
    }
}
