@page "/event"

<h1>Risky Event</h1>


<div>

    3) Risky Event Planner
    Description
    Date / Time
    What trigger or urges do you expect?
    How risky? 1-10
    Coping strategy?
    Backup plan?
    Set an alert?

</div>




@code {

}
