@page "/event"

<h1>Risky Event</h1>


<div>


</div>


<DatePicker @bind-Value="@_format2" Format="dd/mm/yyyy" />
<br />
<Divider />
Description:
<TextArea Rows="2" />
<Divider />
<span>What trigger or urges do you expect?</span>
<TextArea Rows="2" />
<Divider />
<span>How risky?</span>
<Slider TValue="double" DefaultValue="34" Value="@valueRisky" />
<Divider />
<span>Coping strategy?</span>
<TextArea Rows="2" />
<Divider />
    Backup plan:
<span />
<TextArea Rows="2" />

<Divider />
<span>Set an alert?</span>
<DatePicker @bind-Value="@_format2" Format="dd/mm/yyyy" />


<Button Type="primary">Save</Button>




@code {
    DateTime? _format2 = new DateTime(2015, 1, 1);
    double valueRisky = 34;
}
