@page "/urge"

<h1>Urge</h1>


<div>
    2) Craving and urges
    When: now, earlier today, previous day
    What were you craving:
    How strong was craving: 1-10
    How long did it last?
    What were the physical sensations? Chest, Stomach, Neck, Shoulders, Jaw, Racing Heart, Nose, Other
    Emotions: anxiety, excitement, anticipation, restlessness, irritability
    Thoughts: I need, I have to have it, I’m going crazy, I can’t take this feeling
    How did you respond? Avoid, Escape, Distract, Endure
    Triggers: Add, Name, Type (feeling, thought, person, people, place, activity, situation, memory, thing
    How intense was trigger: 1-10
    Did you try a skill? What skill?
    Notes
</div>




@code {
    DateTime? _format2 = new DateTime(2015,1,1);
}
