@page "/used"

<h1>Used</h1>

<div>
    <span>What was it?</span>
    <TextArea Rows="1" />
    <Divider />

    <span>How much?</span>
    <TextArea Rows="1" />
    <Divider />

    <span>Who were you with?</span>
    <CheckboxGroup>
        <Checkbox Label="Alone">Alone</Checkbox>
        <Checkbox Label="Friends">Friend(s)</Checkbox>
        <Checkbox Label="Family">Family</Checkbox>
        <Checkbox Label="Other">Other</Checkbox>
    </CheckboxGroup>
    <Divider/>

    <span>Where were you?</span>
    <TextArea Rows="1" />
    <Divider />

    <span>Triggers?</span>
    <div>Add, Name, Type (feeling, thought, person, people, place, activity, situation, memory, thing</div>


    <span>Lesson?</span>
    <TextArea Rows="1" />
    <Divider />

    Future avoidance plan?
    <TextArea Rows="1" />
    <Divider />
    Notes
    <TextArea Rows="1" />
    <Divider />
</div>




@code {

}
