@page "/used"

<h1>Used</h1>

<div>

    4) Used
    What was it?
    How much?
    Who were you with? Alone, Friend(s), Family, Other
    Where were you?
    Triggers: Add, Name, Type (feeling, thought, person, people, place, activity, situation, memory, thing
    Lesson?
    Future avoidance plan?
    Notes
</div>




@code {

}
